/* Frame 9 with GIFs overlay */
.frame9-wrapper {
  position: relative;
  width: 100%;
  display: block;
}

.frame9-base {
  width: 100%;
  height: auto;
  display: block;
}

.frame9-gifs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.gif-box {
  position: absolute;
  overflow: hidden;
}

.gif-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Box 1 - Left: 222px, Top: 363px, Size: 191x193 */
.gif-box-left {
  left: 17.93%;
  top: 52.31%;
  width: 15.43%;
  height: 27.81%;
}

/* Box 2 - Middle: 524px, Top: 363px, Size: 191x193 */
.gif-box-middle {
  left: 42.33%;
  top: 52.31%;
  width: 15.43%;
  height: 27.81%;
}

/* Box 3 - Right: 826px, Top: 363px, Size: 191x193 */
.gif-box-right {
  left: 66.72%;
  top: 52.31%;
  width: 15.43%;
  height: 27.81%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .gif-box img {
    object-fit: contain;
  }
}
